body {
  background-image: url("../images/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;   
}

.jumbotron {
   background: rgba(20, 54, 54, 0.5);
   color:  white;
}

h1 {
  margin-left: 10%;
  margin-right: 10%;
}

h3 {
  margin-left: 10%;
  margin-right: 10%;
}

.panel-title {
  text-align:  center;
}

.panel-body {
  align-image:  right;
}